.post_form {
  @include flex-box(row, center, center);

  .formulaire {
    width: 50%;
    height: 40vh;
    @include flex-box(column, space-around, center);

    .contenu {
      @include flex-box(column, center, center);
    }

    .submit {
      width: 7vw;
      border: 0;
      border-radius: 5px;

      &:hover {
        cursor: pointer;
        background-color: crimson;
      }
    }
  }
}
